@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  background-color: antiquewhite;
  font-family: Plus Jakarta Sans;
}
.notification {
  display: flex;
  margin: 10px 0;
  border-radius: 15px;
  gap: 2rem;
  padding: .6rem;
  background-color: hsl(210, 60%, 98%);
  align-items: center;
  width: 75%;
  margin: auto;
}

.notification p {
  color: rgb(102, 102, 102);
}

.notification span {
  font-weight: bolder;
  color: black;
}
.notification span:hover {
  color: hsl(219, 85%, 26%);
  cursor: pointer;
}

.time {
  color: rgba(185, 185, 185, 0.39);
}

.unread {
  background-color: hsl(205, 33%, 90%);
}

.notification i {display: none;}

.notification.unread i {display: inline;}